In [1]:
# QUESTION.1 Create a pandas series that contains the following data: 4,6,15,16,23, and 42. Then, print the series. 
# ANSWER 
import pandas as pd

In [2]:
a = [ 4,6,15,16,23,42 ]

In [5]:
data = pd.Series(a)

In [6]:
print(data)

0     4
1     6
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
# QUESTION.2 Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable 
# print it. 
# ANSWER 
A1 = [ 1,2,3,4,5,6,7,8,9,10 ]
elements = pd.Series(A1)

In [9]:
print(elements)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [10]:
# QUESTION.3 Create a pandas DataFrame that contains the following data :

In [11]:
data = {
    'name' : ['Alice','Bob','Claire'],
    'Age'  : [25,30,27],
    'Gender' : ['Female','Male','Female']    
}

In [20]:
df = pd.DataFrame(data)

In [21]:
df

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [23]:
# QUESTION.4 What is 'DataFrame' in pandas and how is it different from oandas.series? Explain with an example
# ANSWER In pandas, a DataFrame is a two dimensional, size mutable, and potential hetrogeneous tabular data structure. It is
# essentially a table with rows and columns, where each column, where each column can have different data type.
#  On the other hand, pandas Series is a one dimensional labeled array capable of holding data of any data type. You can
# of a single column of DataFrame. A DataFrame is made up of one or more series stacked Horizontally.
   #  For Example :

In [25]:
data1 = {
    'name' : ['Alice','Bob','Claire'],
    'Age'  : [25,30,27],
    'Gender' : ['Female','Male','Female']    
}

In [27]:
DataFrame = pd.DataFrame(data1)

In [28]:
DataFrame

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [34]:
series = pd.Series([25,30,22], name = 'Age')

In [35]:
series

0    25
1    30
2    22
Name: Age, dtype: int64

In [36]:
# QUESTION.5 What are some common functions you can use to manipulate data in a Pandas DataFrame? Con you give an example
# of when you might use one of these function?

In [ ]:
# Pandas is a popular Python library for data manipulation and analysis, especially when working with tabular data using
# DataFrames. There are numerous functions and methods available in Pandas to manipulate data in a DataFrame. Here are some
# common functions and examples of when you might use them:

# DataFrame.head() and DataFrame.tail()

# Use head() to view the first few rows of a DataFrame and tail() to view the last few rows. This is handy for quickly
# inspecting your data.
# python

df.head()  # View the first 5 rows
df.tail(10)  # View the last 10 rows
DataFrame.shape

# Use shape to get the dimensions (rows, columns) of the DataFrame.

df.shape  # Returns (rows, columns)
DataFrame.describe()

# This provides summary statistics of numerical columns in the DataFrame.

df.describe()
DataFrame.info()

# Provides a concise summary of the DataFrame's data types, non-null values, and memory usage.

df.info()
DataFrame.set_index()

# Set one or more columns as the DataFrame's index.

df.set_index('column_name', inplace=True)
DataFrame.reset_index()

# Reset the index of the DataFrame.

df.reset_index(inplace=True)
DataFrame.filter()

# Filter rows or columns by label, regex, or condition.

df.filter(like='keyword')  # Filter columns containing 'keyword'
df.filter(like='keyword', axis=0)  # Filter rows containing 'keyword'
df[df['column_name'] > 50]  # Filter rows based on a condition
DataFrame.groupby()

# Group the data based on one or more columns.

groupby_obj = df.groupby('column_name')
DataFrame.pivot_table()

# Create a pivot table from the data.

pivot_table = df.pivot_table(index='row_column', columns='column_column', values='value_column', aggfunc='mean')
DataFrame.sort_values()

# Sort the DataFrame by one or more columns.

df.sort_values(by='column_name', ascending=False)
DataFrame.drop()

# Remove rows or columns from the DataFrame.

df.drop('column_name', axis=1, inplace=True)  # Remove a column
df.drop([1, 2, 3], axis=0, inplace=True)     # Remove rows by index
DataFrame.apply()

# Apply a function to each element, row, or column in the DataFrame.

df['new_column'] = df['existing_column'].apply(lambda x: some_function(x))
DataFrame.merge() and DataFrame.join()

# Combine DataFrames using specified keys or columns.

merged_df = df1.merge(df2, on='common_column')
# These are just some of the many functions available in Pandas for data manipulation. The choice of function depends on
# your specific data analysis tasks, such as cleaning, filtering, aggregating, or transforming data.

In [39]:
# QUESTION.6 Which of the following is mutable in nature Serirs, DataFrame, Panel?
# ANSWER  A Series is mutable, meaning you can modify its element , add, or remove values after it's created. 
#  A DataFrame is also mutable. You can modify the data within a DataFrame, add or remove columns and rows, and perform 
# various operations to change its content. 
# However, the Panel data structure was deprecated in pandas, starting from version 0.25.0 and it's no longer considered 
# part of the core library.

In [40]:
# QUESTION.7 Create a DataFrame using multiple series. Explain with an example. 
# ANSWER 
name = pd.Series(['alice','bob','clari'])
ages = pd.Series([25,33,44])

In [41]:
pd.DataFrame({'NAME':name ,'AGE': ages})

    NAME  AGE
0  alice   25
1    bob   33
2  clari   44